@model Webanwendung.Models.User

@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

@using (Html.BeginForm())
{
    <table>
        <thead>
            <tr>
                <td colspan="2">
                    @Html.ValidationSummary()
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.LabelFor(u => u.OldPassword, "Altes Passwort")</td>
                <td>@Html.PasswordFor(u => u.OldPassword)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(u => u.NewPassword, "Neues Paswort")</td>
                <td>@Html.PasswordFor(u => u.NewPassword)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(u => u.PasswordConfirmation, "Passwort wiederholen")</td>
                <td>@Html.PasswordFor(u => u.PasswordConfirmation)</td>
            </tr>
            <tr>
                <td colspan="2" class="center">
                    <input type="submit" value="passwort ändern" />
                    <input type="reset" value="abrechen" />
                </td>
            </tr>
        </tbody>
    </table>





}



