<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meine ASP.NET-Anwendung</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar-inverse navbar-default navbar-fixed-top">
            <div class="dropdown" id="dropdown">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="buttonMenu">
                    Menü
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>@Html.ActionLink("Startseite", "Index", "Home")</li>
                    <li>
                        @if (((Session["isAdmin"] != null) && (Convert.ToBoolean(Session["isAdmin"]) == true)) ||
                            ((Session["isRegisteredUser"] != null) && (Convert.ToBoolean(Session["isRegisteredUser"]) == true)))
                        {
                            @Html.ActionLink("Abmelden", "Logout", "User")
                        }
                        else
                        {
                            @Html.ActionLink("Anmelden", "Login", "User")
                        }
                    </li>
                    <li>@Html.ActionLink("Registrieren", "Registration", "User")</li>
                    <li><a href="#aboutme">Zimmer buchen</a></li>
                </ul>
            </div>
            <div class="navbar-collapse" id="myNavbar1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        @if (((Session["isAdmin"] != null) && (Convert.ToBoolean(Session["isAdmin"]) == true)) ||
                            ((Session["isRegisteredUser"] != null) && (Convert.ToBoolean(Session["isRegisteredUser"]) == true)))
                        {
                            @Html.ActionLink("" + Session["name"], "ChangeUserData", "User", new { userId = Session["userID"] } , null)
                        }
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse" id="myNavbar2">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Startseite", "Index", "Home")</li>
                    <li>
                        @if (((Session["isAdmin"] != null) && (Convert.ToBoolean(Session["isAdmin"]) == true)) ||
                            ((Session["isRegisteredUser"] != null) && (Convert.ToBoolean(Session["isRegisteredUser"]) == true)))
                        {
                            @Html.ActionLink("Abmelden", "Logout", "User")
                        }
                        else
                        {
                            @Html.ActionLink("Anmelden", "Login", "User")
                        }
                    </li>
                    <li>@Html.ActionLink("Registrieren", "Registration", "User")</li>
                    <li><a href="#aboutme">Zimmer buchen</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        @*<nav>
                @Html.Partial("Navigation")
            </nav>*@

     <content>
        @RenderBody()
    </content>
    </main>

    <footer>
        <ul>
            <li><a href="#myPage">Impressum</a></li>
            <li><a href="#myPage">Kontakt</a></li>
        </ul>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
